@media screen and (min-width:1200px) {
    .container {
        width: 1158px;

    }

}



@media screen and (min-width:1200px) {
    .container {
        width: 1158px;

    }}



    /*--------------------HERO---------------------*/

       @media screen and (min-width: 1200px){
    .header-contact-info {
        flex-direction: unset;
    gap: 40px
   
}
.contact-link {
    font-size: 16px;
}
    
        .hero-bg {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/sqoosh/dark-bg-desk.jpg);
    max-width: 1440px;
    padding: 188px 0;
   
    }
.solution {
    margin-bottom: 48px;
}
       }
        
       
        
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .hero-bg {
      
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/sqoosh/Dark-bg-desk-2.jpg);
        } 
        
            
        }
        
                /*---------MODAL--------*/
        
            @media screen and (min-width:1200px) {
                    .modal {
                        height: 584px;

                       
                    }
        
                }


                @media screen and (min-width:1200px) {
                        .rectangle {
                                display: block;
                            }
                    
                }
       

          @media screen and (min-width:1200px) {
           .fututes-list {
            gap: 24px;
           }
           .hero-title {
            font-size: 20px;
            line-height: calc(24/20);
           }
            .hero-strategy {
                max-width: 264px;
                
                    
          }}