@media screen and (min-width:480px) {
    .container {
        width: 426px;
        margin-left: auto;
        margin-right: auto;
    }

}


@media screen and (max-width:480px) {
.rectangle {
    visibility: hidden;
}
}

/*----------HERO-------------------*/
.hero >.container {
    width: 480px;
}

