:root {
	--primary-brand: #4d5ae5;
	--dark: #2e2f42;
	--text: #434455;
	--success: #31d0aa;
	--subtle-text: #8e8f99;
	--accent: #e7e9fc;
	--ligt: #f4f4fd;
	--button-active: #404bbf;
	--white-text-color: #ffffff;

	--main-font: Roboto, sans-serif;
	--secondary-font: Raleway, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
ul,
ol {
	margin: 0;
	padding-left: 0;
}
img {
	display: block;
}

body {
	background-color: var(--white-text-color);
	color: var(--text);
	font-family: var(--main-font);
	font-size: 16px;
	letter-spacing: 0.02em;
}
.section {
	padding: 120px 0;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.container {
	width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}
/* --------------HEADER---------------*/
.header {
	background: #ffffff;
	border-bottom: 1px solid #e7e9fc;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
	display: flex;
	align-items: center;
}

.header-list {
	display: flex;
	align-items: center;
	gap: 40px;
}
.header-list .header-link {
	position: relative;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list .header-link:hover,
.header-list .header-link:focus {
	color: #404bbf;
}
.header-list .header-link:active {
	color: #404bbf;
}

.header-list .header-link.current {
	color: #404bbf;
}

.header-list .header-link.current::after {
	position: absolute;
	left: 0;
	bottom: -1px;
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background: #404bbf;
	border-radius: 2px;
}
.header-contact-info .header-link {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation {
	display: flex;
	align-items: center;
	margin-right: auto;
}
.header-item {
}

.logo-main {
	font-family: Raleway;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	padding: 24px 0;
	margin-right: 77px;
}

.first-logo {
	color: #4d5ae5;
	padding-top: 40px;
}

.studio-logo {
	color: #2e2f42;
	padding-top: 40px;
}

.header-link {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	color: #2e2f42;
	padding-top: 24px;
	padding-bottom: 28px;
}
.header-link:hover {
	color: var(--primary-brand);
}
.header-link:focus {
	color: var(--accent);
}

.current {
	color: var(--button-active);
}
.header-contact-info {
	display: flex;
	align-items: center;
	gap: 40px;
}

.header-email {
}
.header-tel {
}

.contact-link {
	font-size: 16px;
	line-height: 1.5;
	color: #434455;
	padding: 40px 0;
	letter-spacing: 0.02em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
	color: var(--primary-brand);
}

/*------------HERO-------------*/

.hero-bg {
	background-color: #2e2f42;
	padding: 188px 0;
	text-align: center;
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/fon/people.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 1440px;
	height: 600px;
	margin: 0% auto;
}

.solution {
	/* Header 1 */

	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	width: 496px;
	/* or 107% */
	text-align: center;
	letter-spacing: 0.02em;

	color: #ffffff;

	margin-bottom: 48px;
	margin-left: auto;
	margin-right: auto;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0);
	overflow: hidden;
}

/*----------FUTURES----------*/
.fututes-list {
	display: flex;
	gap: 24px;
}
.rectangle {
	background-color: #f4f4fd;
	width: 264px;
	height: 112px;
	padding: 24px 100px;
	border-radius: 4px;
	margin-bottom: 8px;
}
.rectangle .icon {
	display: block;
	width: 64px;
	height: 64px;
}
.hero-strategy {
}

.hero-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;

	letter-spacing: 0.02em;

	color: #2e2f42;
	margin-bottom: 8px;
}

.hero-pre-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
.hero-strategy {
}

.main-button {
	font-weight: 700;
	font-family: inherit;
	font-size: 16px;
	line-height: 1.18;

	letter-spacing: 0.04em;

	color: #ffffff;
	background-color: #4d5ae5;
	cursor: pointer;
	padding: 16px 32px;
	border: none;
	border-radius: 4px;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
	background-color: #404bbf;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*-------What are we doing--------*/
.our-work {
	padding-top: 0;
}
.our-work-list {
	display: flex;
	gap: 24px;
}

.explination-list {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;

	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;

	color: #2e2f42;
	margin-bottom: 72px;
}

.team-our-title {
}

.team-section {
	background: #f4f4fd;
}
.team-list {
	display: flex;
	gap: 24px;
}
.team-text-wrap {
	padding: 32px 0;
	text-align: center;
	background: #ffffff;
}

.team {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-title {
	/* Header 2 */

	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;

	letter-spacing: 0.02em;
	text-transform: capitalize;

	color: #2e2f42;

	margin-bottom: 72px;
	text-align: center;
}

.hero-pre-title {
}

.team-title-first {
	font-size: 20px;
	line-height: 1.2;

	color: #2e2f42;
	margin-bottom: 8px;
}
.team-pre-title {
	font-size: 16px;
	line-height: 1.5;
	color: #434455;
}

.socialmedia {
	display: flex;
	justify-content: center;
	gap: 24px;
	margin-top: 8px;
	list-style: none;
}

.socialmedia-items {
	width: 40px;
	height: 40px;
}

.socialmedial-link {
	width: 100%;
	height: 100%;
	background-color: #4d5ae5;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socialmedial-link:hover,
.socialmedial-link:focus {
	background-color: #404bbf;
}

.socialmesia-icon {
	fill: #ffffff;
}

/*---------CUSTOMERS-----------*/
.customers-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 168px;
	height: 88px;
	border: 1px solid currentColor;
	border-radius: 4px;

	color: #8e8f99;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-customers {
	padding: 120px 0;
}
.customers-icon {
	fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
	color: #404bbf;
}

.customers-list {
	display: flex;
	justify-content: space-between;
}
.section-name {
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.02em;
	margin-bottom: 72px;
	color: #2e2f42;
}
/*------FOOTER---------*/

.footer {
	background: #2e2f42;
	padding: 100px 0;
}

.footer-logo {
	font-family: Raleway;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.16;

	
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;


	color: #4d5ae5;
	margin-bottom: 16px;
}

.logo-footer {
	font-size: 18px;
	line-height: 1.16;

	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #f4f4fd;
}
.end-word {
	line-height: 1.5;

	color: #e7e9fc;
	width: 264px;
}
.soc-media-items {
	width: 40px;
	height: 40px;
}
.soc-medial-link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-medial-link:hover,
.soc-medial-link:focus {
	background-color: #31d0aa;
}

.footer-soc {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;

	color: #ffffff;
	margin-bottom: 16px;
}

.footer-soc-list {
	display: flex;
	gap: 16px;
}
.footer-socmedia {
	margin-left: 120px;
}

.footer .container {
	display: flex;
}
.footlog {
	max-width: 264px;
}
.footer-icon-wrapper {
	display: flex;
	position: relative;
}


.button-subscribe {
	position: relative;
	width: 165px;
	height: 40px;
	padding: 8px 24px;
	border-radius: 4px;
	background-color: #4D5AE5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: 0;
	color: white;
	display: flex;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	align-items: center;
	justify-content: center;
	margin-left: 24px;
	
}

.button-subscribe:focus {
	background-color:#404BBF;
	outline: none;
}

	

.footer-form-input {
	background: #2E2F42;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	width: 264px;
	height: 40px;
	padding-left: 16px;
	color: #e7e9fc;
	font-size: 14px;
}
	

	
.footer-form {
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.subscribe-text {

	color: #FFFFFF;
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
}
.footer-icon {
	
	margin-left: 16px;
	
}




/*-------HEADER PORTFOLIO*/
.logo-studio {
	color: #2e2f42;
}

.header-list-portfolio {
	background-color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;

	letter-spacing: 0.02em;

	color: #2e2f42;
}
.contact-inf {
	display: flex;
}
.studio-title {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.link {
}

.portfolio-title {
}

.contacts-title {
}

.contact-inf {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	color: #434455;
}

/*--------MAIN---------*/
.button-portfolio {
	color: #4d5ae5;
	cursor: pointer;
	background-color: #f4f4fd;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	font-family: inherit;
	letter-spacing: 0.04em;
	padding: 12px 24px;
	border: none;
	border-radius: 4px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.button-portfolio:hover,
.button-portfolio:focus {
	background-color: #4d5ae5;
	color: #f4f4fd;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-list-portfolio {
	display: flex;
	gap: 24px;
	justify-content: center;
	margin-bottom: 72px;
}

.menu-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;

	letter-spacing: 0.02em;

	color: #2e2f42;
	margin-bottom: 8px;
}
.menu-text-wrap {
	padding: 32px 16px;
	border-bottom: 1px solid #e7e9fc;
	border-left: 1px solid #e7e9fc;
	border-right: 1px solid #e7e9fc;
}

.portfolio {
	padding-top: 96px;
	padding-bottom: 120px;
}
.menutour {
	display: flex;
	flex-wrap: wrap;
	gap: 48px 24px;
}
.portfolio-link {
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.pre-menu-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.shade {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.overlay {
	background: #4d5ae5;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 40px;
	padding-bottom: 164px;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;

	position: absolute;
	color: #f4f4fd;
	overflow: auto;
	transform: translate(0, 100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.over-lay-wrap {
	position: relative;
	overflow: hidden;
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
	transform: translate(0, 0);
}
/*----------------Modal window----------------------*/
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(46, 47, 66, 0.4);
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
	visibility: visible;
}
.modal {
	width: 408px;
	height: 576px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding-top: 72px;
	padding-bottom: 24px;
	padding-right: 24px;
	padding-left: 24px;
}
.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.modal-close-btn {
	position: absolute;
	top: 24px;
	right: 24px;
	border-radius: 50%;
	background: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	width: 24px;
	height: 24px;
	align-items: center;
	justify-content: center;
	display: flex;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
	fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
	

.modal-close-btn:hover,
.modal-close-btn:focus {
	background-color: #404BBF;
	fill: #FFFFFF;
}

.modal-form {
	display: flex;
	flex-direction: column;
}
.modal-form-input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 38px;
	outline: none;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}
.footer-container-subscribe {
	margin-left: 80px;
}

.modal-form-input:focus {
	outline: none;
	border-color: #4D5AE5;

}
.modal-form-input:focus + .modal-form-input-icon {
	fill: #4D5AE5;
}
.modal-form-message {
	font-size: 12px;
	resize: none;
	width: 100%;
	height: 100px;
	padding-left: 16px;
	padding-top: 8px;
	padding-right: 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: none;
	transition: border color 250ms cubic-bezier(0.4, 0, 0.2, 1)
		
}


.modal-form-message:focus {
	border-color: #4D5AE5;
	outline: none;

}
.text-message {
	font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.02em;
		color: #2E2F42;
		margin-bottom: 16px;
		
}
.modal-form-message::placeholder {
	font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.04em;
		color: rgba(117, 117, 117, 0.5);

}
.modal-form-input-desc {
	font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.04em;
		color: #8E8F99;
		margin-bottom: 4px;
		display: block;
}
.modal-form-input-wrapper {
	position: relative;
	
}

.modal-form-field {
	margin-bottom: 8px;
}
.modal-form-input-icon {
	position: absolute;
	display: block;
	width: 12px;
	height: 12px;
	top: 50%;
	left: 16px;
	transform: translate(0, -50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check-desc::before {
	width: 16px;
	height: 16px;
	content: '';
	display: block;
	border: 2px solid #2E2F42;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 8px;
	
}
.modal-form-check:checked +.modal-form-check-desc::before {
	background-color: #404BBF;
	background-image: url(../img/mark/checkmark.svg);
	background-repeat: no-repeat;
	background-position: center;
	
	

}
.modal-form-check:focus+.modal-form-check-desc::before {
	border-color: #404BBF;
	
}
.modal-form-check-desc {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.04em;
	color: #757575;
	margin-bottom: 24px;
}

.modal-form-submit {
	min-width: 169px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 10px;
	padding-right: 10px;
	background: #4D5AE5;
	
	
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	display: flex;
	align-self: center;
	justify-content: center;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	outline: none;
	border-color: transparent;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}
.modal-form-submit:hover,
.modal-form-submit:focus {
	background-color: #404BBF;
	color:#FFFFFF; 
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

